body {
    font-family: Helvetica, Verdana, Arial, sans-serif; 
    font-size: 100%;
}

table {
    border-collapse: collapse;
}

thead {
    text-align: left;
    color: white;
    background-color: #7096b3;
}

tbody {

}

th {
    padding-right: 5px;
    padding-left: 5px;
}

td {
    border-right: 1px solid #d3d3d3;
    border-left: 1px solid #d3d3d3; 
    padding-right: 5px;
    padding-left: 5px;
    empty-cells: show;
}