<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

  <!-- License and support pages, some are accessed in-tool others via surelogic.com -->

  <servlet>
    <servlet-name>Trial and Community License Creation</servlet-name>
    <servlet-class>com.surelogic.server.serviceability.LicenseCreateServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Trial and Community License Creation</servlet-name>
    <url-pattern>/services/create</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>In-Tool Suggestions and Problems</servlet-name>
    <servlet-class>com.surelogic.server.serviceability.SupportRequestServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>In-Tool Suggestions and Problems</servlet-name>
    <url-pattern>/services/support</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>In-Tool License Netcheck</servlet-name>
    <servlet-class>com.surelogic.server.serviceability.LicenseNetcheckServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>In-Tool License Netcheck</servlet-name>
    <url-pattern>/services/netcheck</url-pattern>
  </servlet-mapping>

  <!-- Administration pages all under /services/admin -->

  <servlet>
    <servlet-name>License Admin</servlet-name>
    <servlet-class>com.surelogic.server.serviceability.admin.LicenseAdminServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>License Admin</servlet-name>
    <url-pattern>/services/admin/license</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Recent License Activity</servlet-name>
    <servlet-class>com.surelogic.server.serviceability.admin.LicenseActivityLogServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Recent License Activity</servlet-name>
    <url-pattern>/services/admin/log</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>License Search</servlet-name>
    <servlet-class>com.surelogic.server.serviceability.admin.LicenseSearchServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>License Search</servlet-name>
    <url-pattern>/services/admin/search</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>License Blacklist</servlet-name>
    <servlet-class>com.surelogic.server.serviceability.admin.BlacklistServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>License Blacklist</servlet-name>
    <url-pattern>/services/admin/blacklist</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Recent Web License Request Activity</servlet-name>
    <servlet-class>com.surelogic.server.serviceability.admin.LicenseWebRequestLogServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Recent Web License Request Activity</servlet-name>
    <url-pattern>/services/admin/weblog</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Web License Request Search</servlet-name>
    <servlet-class>com.surelogic.server.serviceability.admin.LicenseWebRequestSearchServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Web License Request Search</servlet-name>
    <url-pattern>/services/admin/websearch</url-pattern>
  </servlet-mapping>

  <filter>
    <description>Security for the admin interface</description>
    <filter-name>Security Filter</filter-name>
    <filter-class>com.surelogic.server.serviceability.admin.SecurityFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>Security Filter</filter-name>
    <url-pattern>/services/admin/*</url-pattern>
  </filter-mapping>

  <listener>
    <listener-class>com.surelogic.server.serviceability.EmailContextListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.surelogic.server.jdbc.NetworkServerContextListener</listener-class>
  </listener>

  <!-- Allows server to email as tim.halloran@surelogic.com through Google -->

  <context-param>
    <param-name>emailAs</param-name>
    <param-value>tim.halloran@surelogic.com</param-value>
  </context-param>
  <context-param>
    <param-name>emailSecret</param-name>
    <param-value>bGFyYS5jcm9mdA==</param-value>
  </context-param>

</web-app>
